<footer class="mt-auto">
    <div class="container-fluid border-top" style="background-color: #c8102e; padding: 3.6875rem 5.125rem 0;">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <img src="{{ '/media/iowa-state-university-logo-with-tagline-sci-tech.svg' | prepend: site.digital-assets }}" alt="Iowa State University of Science and Technology" class="img-fluid" width="516" height="69">
            </div>
        </div>
        <div class="row pb-4 text-center text-md-start">
            <div class="col-md-6">
                <p class="text-white footer-section-label">Quick Links</p>
                <div class="row">
                    <div class="col-md-4 footer-links">
                        <a href="{{ '/collections.html' | relative_url }}" class="footer-list">Collections</a>
                        <br>
                        <a href="{{ '/about.html' | relative_url }}" class="footer-list">About</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="footer-section-label">
                    {{ site.title }}
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="footer-text">
                            204 Parks Library
                            <br>
                            701 Morrill Rd
                            <br>
                            Ames, IA 50011-2102
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="footer-links">
                            <a href="mailto:digital@iastate.edu" class="footer-list">digital@iastate.edu</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid" style="background-color: #7c2529;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <p class="text-white mb-0 py-3" style="font-size: 1.125rem;
  line-height: 1.77778;">© Iowa State University of Science and Technology</p>
                </div>
                <div class="col-md-8 d-flex">
                    <nav class="ms-auto mb-4 mb-md-0">
                        <ul class="nav">
                            <li class="nav-item footer-list">
                                <a href="https://www.iastate.edu/disclaimers-and-terms">Privacy Policy</a>
                            </li>
                            <li class="nav-item footer-list">
                                <a href="https://www.policy.iastate.edu/policy/discrimination">Non-discrimination Policy</a>
                            </li>
                            <li class="nav-item footer-list">
                                <a href="https://www.digitalaccess.iastate.edu/">Digital Access and Accessibility</a>
                            </li>
                            <li class="nav-item footer-list">
                                <a href="https://www.iastate.edu/consumer-information">Consumer Information</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>